extends layout
block js
    script(type="text/javascript", src='/javascripts/home.js')
block css
    link(rel='stylesheet', href='/stylesheets/home.css')
block content
    nav.navbar-default.navbar-fixed-top(role="navigation")
        ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
                a(href="#") Home
            li(role="presentation")
                a(href="#") Profile
            li(role="presentation")
                a(href="#") Messages
    #home-content
    nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
