doctype transitional
html
    head
        title= title
        meta(http-equiv = "X-UA-Compatible", content = "chrome=1")
        meta(http-equiv = "Content-Type", content="text/html", charset="GBK")
        meta(name="author", content="Sean")
        meta(name="Copyright", content="MNK")
        meta(name="description", content="Monika Stars Team")
        meta(name="keywords", content="Monika Stars,MNK")
        link(type="text/javascript", href='/javascripts/base/jquery.js')
        link(type="text/javascript", href='/javascripts/base/jquery-migrate.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block js
        block css
    body
        block content