doctype transitional
html
    head
        title= title
        meta(http-equiv = "X-UA-Compatible", content = "chrome=1")
        meta(http-equiv = "Content-Type", content="text/html", charset="GBK")
        meta(name="author", content="Sean")
        meta(name="Copyright", content="MNK")
        meta(name="description", content="Monika Stars Team")
        meta(name="keywords", content="Monika Stars,MNK")
        script(type="text/javascript", src='/javascripts/lib/jquery.min.js')
        script(type="text/javascript", src='/javascripts/lib/i18next.min.js')
        script(type="text/javascript", src='/javascripts/lib/bootstrap.min.js')
        script(type="text/javascript", src='/javascripts/base/tools.js')
        link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript").
            $(function() {
                $.i18n.properties({
                    name : 'string',
                    path : '/resources/',
                    mode : 'map',
                    language : 'zh_CN'
                });
            })();
        block js
        block css
    body
        block content